// Custom styles.
// 单独代码块的配置
code {
    color: #e09d9e;  // 单独代码块的字体颜色
    background: #233046; //单独代码块的背景色
    margin: 2px;
}
// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
	color: #e09d9e;
}
.highlight, code, pre {
	background-color: #233046!important
}
blockquote {
	border-left: 3px solid skyblue
}